.modal__container_type_edit-profile{
    height: 304px;
}

.profile-edit__label{
    font-size: 16px;
}

.profile-edit__input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-family: 'Cabinet Grotesk', Arial, sans-serif;
    font-size: 16px;
}