.itemcard{
    border: 1px solid grey;
    border-radius: 10px;
    height: 328px;
    width: 328px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    padding: 0px;
}

.itemcard__name-wrapper{
    max-width: 100px;
    padding: 2px;
    height: 24px;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.itemcard__name{
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}

.itemcard__like-button-wrapper{
    position: relative;
}

.itemcard__like-button{
    position: absolute;
    cursor: pointer;
    background: transparent url('../../images/unfilledheart.svg') center;
    border: none;
    width: 20px;
    height: 18px;
    top: 21px;
    left: 11px;
    z-index: 999;
}

.itemcard__like-button_liked{
    position: absolute;
    background: transparent url('../../images/filledheart.svg') center;
    width: 20px;
    height: 18px;
    top: 21px;
    left: 11px;
    border: none;
}

@media(max-width: 425px){
    .itemcard{
        height: 164px;
        width: 164px;
    }   
}