.weathercard{
    /*this will eventually be rewritten to properly resize for responsive implimentation*/
    background-size: cover;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.weathercard__temp{
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin-left: 16px;
}

.weathercard__container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.weathercard__information{
    display: flex;
    flex-direction: column;
}

.weathercard__stat{
    color: white;
    margin: 0;
    font-size: 14px;
}

.weathercard__wrapper{
    position: absolute;
}

.weathercard__hiandlow{
    position: relative;
    left: 100px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

.weathercard__icon{
    bottom: 16px;
    height: 100%;
    border-radius: 10px;
}
