@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  src: url("../../vendor/fonts/CabinetGrotesk-Medium.woff");
}

body{
    margin: 0;
}

* {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  line-height: 1.2;
}



a {
  text-decoration: none;
  mix-blend-mode: difference;
  filter: invert(1);
}

p {
  mix-blend-mode: difference;
  filter: invert(1);
}

.App {
  font-size: 20px;
  height: 100vh;
  padding: 32px 40px;
}

.App__light {
  background-color: #f3f3f3;
}

.App__dark {
  background-color: rgb(44, 44, 44);
}

.App__Container {
  max-width: 1360px;
  margin: auto;
}

.clothing__modal-input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
}

.clothing__modal-label-radio {
  display: flex;
  flex-direction: column;
}

.clothing__modal-radio-name {
  color: rgba(0, 0, 0, 0.5);
}

.clothing__modal-radio-btn {
  accent-color: black;
}

.clothing__modal-radio-btn:checked + span {
  color: black;
}
