.searchbar{
    height: 30px;
    display: flex;
    margin: 0;
    justify-content: center;
}

.searchbar__input{
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 2px solid grey;
    padding: 4px;
    font-size: 18px;
    padding-left: 12px;
}

.searchbar__input_bad-search{
    border: 2px solid red;
}

.searchbar__submit{
    height: 100%;
    background: lightgrey url("../../images/search-alt-2-svgrepo-com.svg") center no-repeat;
    border: 2px solid grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 40px;
    cursor: pointer;
}

.searchbar__error-text{
    font-size: 12px;
    position: absolute;
    color: red;
    top: 106px;
    visibility: hidden;
}

.searchbar__error-text_active{
    visibility: visible;
}

.searchbar__submit:hover{
    opacity: 70%;
}