

.searchbar__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.searchbar{
    height: 30px;
    display: flex;
    margin: 10px auto 0px auto;
    justify-content: center;
}

.searchbar_error{
    animation: shake 0.2s;
    animation-iteration-count: 1;
}

.searchbar__input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 2px solid grey;
    padding: 4px;
    font-size: 18px;
    padding-left: 12px;
    background-color: white;
}

.searchbar__input_bad-search{
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.searchbar__submit{
    height: 100%;
    background: lightgrey url("../../images/search-alt-2-svgrepo-com.svg") center no-repeat;
    border: 2px solid grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 40px;
    cursor: pointer;
}

.searchbar__error-text{
    font-size: 12px;
    color: red;
    visibility: hidden;
}

.searchbar__error-text_active{
    visibility: visible;
}

.searchbar__submit:hover{
    opacity: 70%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }