.itemmodal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color:rgba(0,0,0,0.5);
}

.itemmodal__container{
    background-color: white;
    box-sizing: border-box;
    margin: 50px auto;
    max-width: 496px;
    height: 610px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}

.itemmodal__container_dark{
    background-color: rgb(44, 44, 44);
}

.itemmodal__container_light{
    background-color: white;
}

.itemmodal__btn-wrapper{
    position: relative;
}


.itemmodal__close-btn{
    height: 20px;
    width: 20px;
    border: none;
    box-sizing: border-box;
    background: transparent url(../../images/close-icon.svg) center no-repeat;
    position: absolute;
    left: min(100vw - 35px, 50vh);
    top: 17px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    filter: invert();
    mix-blend-mode: difference;
}

.itemmodal__close-btn:hover{
    transform: rotate(180deg);
}

.itemmodal__img{
    height: 482px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.itemmodal__wrapper{
    display: flex;
    justify-content: space-between;
}

.itemmodal__delete-button{
   left: 1390px;
   bottom: 550px;
   border: none;
   font-family: 'Cabinet Grotesk';
   color: rgba(255, 77, 0, 1);
   font-size: 20px;
   background-color: white;
   cursor: pointer;
}

.itemmodal__delete-button_visible{
    display:initial;
}

.itemmodal__delete-button_hidden{
    display: none;
}

.itemmodal__caption-box{
    padding: 0px 32px 0px 32px;
}

*{border: 1px solid red;}
