.sidebar{
    margin: 0;
    max-width: 256px;
}

.sidebar__profile-info{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 229px;
    margin-bottom: auto;
    margin-top: 37px;
}

.sidebar__profile-icon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-position: center;
    border: 1px solid grey;
}

.sidebar__default-img{
    background-color: lightgray;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    border: 1px solid grey;
}

.sidebar__default-initial{
    position: relative;
    left: 14px;
    bottom: 9px;
    color: white;
}

.sidebar__button{
    border: none;
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    font-family: 'Cabinet Grotesk', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
