.footer__container{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

@media(max-width: 710px){
    .footer__container{
        margin-top: 90px;
    }
}
